# Dev Server
NUXT_BACKEND_URL=http://88.222.242.143:9090

# Local Server
# NUXT_BACKEND_URL=http://localhost:9090

# Public Runtime Config
NUXT_PUBLIC_API_BASE_URL=/api/v1

# MapTiler API Key
NUXT_PUBLIC_MAPTILER_KEY=vAiwKNYltLbMYEotSzTT
VITE_MAPTILER_KEY=vAiwKNYltLbMYEotSzTT
